Body {
    font-size: 12px;
    Color: #606060;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.link {
    color: #c95555;
    font-weight: bold;
}

Header {
    height: 80px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}

Header a {
    text-decoration: none;
}

input {
    font-family: 'Open Sans', sans-serif;
}

textarea {
    font-family: 'Open Sans', sans-serif;
}

footer a {
    text-decoration: none;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-style: solid;
    border-width: 1px;
    background: #e3e3e3;
}

/*             containers            */
#containerLogo {
    height: 80px;
    margin-left: 50px;
}

.contBotones {
    height: 80px;
    display: flex;
    margin-right: 5%;
    align-items: center;
}

.contBtnFooter {
    height: 40px;
    display: flex;
    align-items: center;
}

.navMenuContainer {
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-bottom: solid;
    border-width: 1px;
}

.navMenuContainer a {
    text-decoration: none;
}

.registerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 650px;
}

.loginContainer {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cambalachesContainer {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dashboardContainer {
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.newProdContainer {
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.mainTitleContainer {
    border-bottom-style: solid;
    border-width: 1px;
}

.mainTitleContainer h1 {
    padding-inline: 25px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.cambaTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 139px;
    text-align: center;
}

.cambaTitleContainer h1 {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.dashboardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    text-align: center;
}

.dashboardTitle h1 {
    margin-bottom: 0;
}

.dashSectionCont {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.productDashContainer {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.imgProd {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 1px;
}

.menuProdDash {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menuProd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menuProd a {
    text-decoration: none;
    font-weight: bold;
    color: #606060;
}

.menuProd a:hover {
    color: red;
}

.catContainer {
    background: #606060;
    height: 400px;
    width: 800px;
    border-style: solid;
    display: flex;
    justify-content: space-evenly;
    border-width: 1px;
}

.dataContainer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.newProdCont {
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

.productsContainer {
    height: 400px;
    margin: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.postProductCont {
    width: auto;
    display: flex;
    max-width: 240px;
}

.prodSectionCont {
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: center;
    border-width: 1px;
    border-top-style: solid;
}

.detailProdCont {
    display: grid;
    grid-template-columns: 50% 20%;
    margin: 20px;
}

.detailImgProd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.descripProdCont {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    border-left: 1px solid;
    background: #e3e3e3;
}

/*             Buttons styles            */
.btnMenuBlanco {
    border: 0;
    margin-left: 5px;
    padding-inline: 5px;
    color: #606060;
}

.btnMenuBlanco :hover {

    color: #e51b23;
}

.btnMenuBlanco p {
    margin: 0px;
}

.btnSeparator {
    border-style: solid;
    border-color: #e51b23;
    border-inline-width: 1px;
}

.btnDark {
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px;
    background-color: #e51b23;
    color: white;
}

.btnOpcDark {
    text-decoration: none;
    background-color: #e51b23;
    color: white;
    padding-inline: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #e51b23;
}

.btnOpcLight {
    text-decoration: none;
    padding-inline: 30px;
    padding-top: 0px;
    color: #606060;
    padding-bottom: 0px;
    border-style: solid;
    border-width: 1px;
}

.btnEditProd {
    text-decoration: none;
    padding-inline: 10px;
    color: #ffffff;
    background-color: #e51b23;
}

#txtEditBtn {
    margin: 0;
}

.btnDeleteProd {
    text-decoration: none;
    color: #ffffff;
    padding-inline: 20px;
    background-color: #2dcd2d;
}

#txtDeleteProd {
    margin: 0;
}

#imgLogo {
    width: 100px;
    padding-top: 20px;
}

.imgBtnDark {
    width: 15px;
}

.navBar {
    width: 415px;
    height: 30px;
}

.catSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
}

.catContainer a {
    text-decoration: none;
}

.catSection h2 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.catSection .catLink {
    display: flex;
    color: #606060;
}

.catSection .catLink :hover {
    color: #e51b23;
}

.catArticle {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    border-style: solid;
    background: white;
    border-width: 1px;
}

.catArticle h2 {
    font-size: 20px;
}

.catImageHolder img {
    width: 100px;
}

.recentCambalaches {
    height: 500px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
}

.recentCambalaches h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

/*     Login       */
#logUser {
    width: 415px;
    height: 45px;
    color: #e51b23;
    font-size: 22px;
}

#logPassword {
    width: 415px;
    height: 45px;
    font-size: 22px;
    color: #e51b23;
}

/*     Register     */

#regName {
    width: 225px;
    height: 50px;
    font-size: 20px;
    color: #e51b23;
}

#regLastName {
    width: 225px;
    height: 50px;
    font-size: 20px;
    color: #e51b23;
}

#regAddress {
    width: 500px;
    height: 50px;
    font-size: 20px;
    color: #e51b23;
}

#regAddress2 {
    width: 500px;
    height: 50px;
    font-size: 20px;
    color: #e51b23;
}

#regCountry {
    width: 225px;
    height: 50px;
    font-size: 20px;
    color: #e51b23;
}

#regCity {
    width: 225px;
    height: 50px;
    font-size: 20px;
    color: #e51b23;
}

#regEmail {
    width: 225px;
    height: 50px;
    font-size: 20px;
    color: #e51b23;
}

#regPassword {
    width: 225px;
    height: 50px;
    font-size: 20px;
    color: #e51b23;
}

/*     New Product   */
#nameNewProd {
    width: 30%;
    height: 22px;
}

#descripNewProd {
    height: 150px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
}

#imgNewProd {
    height: 22px;
}

#lookingForProd {
    height: 100px;
    resize: none;
}

/*     Slider       */
.sliderCont {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right:
        auto;
    margin-left:
        auto;
    max-width: 800px
}

#proparallax {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 24.5rem;
    border: 1px solid #e51b23;
}

#proparallax img {
    position: absolute;
    width: 37rem;
    height: 24.5rem;
    overflow: hidden;
    object-fit: cover;
}

@keyframes parallax_one {
    0% {
        height: 24.5rem;
        width: 37rem;
        left: 0rem;
        opacity: 1;
    }

    27.77% {
        width: 37rem;
        left: 0rem;
    }

    27.78% {
        width: 37rem;
        left: 0rem;
        right: 50rem;
    }

    33.33% {
        height: 24.5rem;
        width: 0rem;
        left: 0rem;
        right: 0rem;
        opacity: 1;
    }

    33.34% {
        opacity: 0;
    }

    94.43% {
        left: 0rem;
        opacity: 0;
    }

    94.44% {
        height: 24.5rem;
        width: 0rem;
        left: 50rem;
        opacity: 1;
    }

    100% {
        width: 37rem;
        left: 0rem;
        opacity: 1;
    }
}

@keyframes parallax_two {
    0% {
        opacity: 0;
    }

    27.77% {
        left: 0rem;
        opacity: 0;
    }

    27.78% {
        width: 0rem;
        height: 24.5rem;
        left: 50rem;
        opacity: 1;
    }

    33.33% {
        width: 37rem;
        left: 0rem;
    }

    61.10% {
        width: 37rem;
        left: 0rem;
    }

    61.11% {
        width: 37rem;
        left: 0rem;
        right: 50rem;
    }

    66.67% {
        width: 0rem;
        right: 0rem;
        left: 0rem;
        height: 24.5rem;
        opacity: 1;
    }

    66.68% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes parallax_three {
    0% {
        opacity: 0;
    }

    61.10% {
        opacity: 0;
    }

    61.11% {
        width: 0rem;
        height: 24.5rem;
        left: 50rem;
        opacity: 1;
    }

    66.67% {
        width: 37rem;
        left: 0rem;
    }

    94.43% {
        width: 37rem;
        left: 0rem;
    }

    94.44% {
        width: 37rem;
        left: 0rem;
        right: 50rem;
    }

    100% {
        width: 0rem;
        right: 0rem;
        left: 0rem;
        height: 24.5rem;
        opacity: 1;
    }
}

#proparallax img.one {
    animation-name: parallax_one;

    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: forwards;
    object-fit: cover;
}

#proparallax img.two {
    animation-name: parallax_two;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: forwards;
    object-fit: cover;
}

#proparallax img.three {
    animation-name: parallax_three;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: forwards;
    object-fit: cover;
}